{{- if .Values.prometheus.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: dfs-prometheus
  namespace: {{ .Values.global.namespace }}
  labels:
    app: dfs-prometheus
    app.kubernetes.io/name: dfs-prometheus
    app.kubernetes.io/instance: {{ .Release.Name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dfs-prometheus
  labels:
    app: dfs-prometheus
    app.kubernetes.io/name: dfs-prometheus
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
- apiGroups: [""]
  resources:
  - nodes
  - nodes/proxy
  - services
  - endpoints
  - pods
  verbs: ["get", "list", "watch"]
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs: ["get", "list", "watch"]
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dfs-prometheus
  labels:
    app: dfs-prometheus
    app.kubernetes.io/name: dfs-prometheus
    app.kubernetes.io/instance: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dfs-prometheus
subjects:
- kind: ServiceAccount
  name: dfs-prometheus
  namespace: {{ .Values.global.namespace }}
{{- end }}
